.cityMenu{
    text-indent: 10px;
    font-size: 16px;
    color: #606266;
}
.cityItem{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    font-size: 14px;
    color: #606266;
}
.cityItem:hover{
    color: #409EFF;
}